@font-face{
    font-family: 'android';
    src: url('/Mini-Projeto/fontes/idroid.otf');
}

@font-face {
    font-family: 'Bebas';
    src: url(/Mini-Projeto/fontes/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 10%;
    min-height: 10%;
}

body{
    font: 12pt Arial;
}

header{
    font: 16pt Arial;
    background:linear-gradient(to bottom, #39cf7c, #2b975a, #1a5c38);
    color: white;
}

#principal{
    font: 50px 'Bebas', 'Arial';
    text-align: center;
    margin: 0;
    padding: 20px;
    text-shadow: 3px 1px 5px black;
}

p{
    text-align: center;
    padding: 10px;
}

nav{
    display: inline-block;
    font: 12pt Arial;
    margin-left: 20px;
    padding-bottom: 10px;
}

nav > a{
    padding-right: 10px;
    color: white;
    text-decoration: none;
    padding-bottom: 2px;
}

nav > a:hover{
    border-bottom: 2px solid #289659d8;
}

#hist{
    font-family: 'android';
    font-size: 30px;
    padding: 10px;
    color: #185a36;
}

span{
    color:#2c6e49;
}

h2{
    font-family: 'android', 'Arial';
    margin: 10px;
    background-image: linear-gradient(to right, #0f924a62 , white);
    color: #185a36;
}

article > p{
    font: 15pt Arial;
    text-align: justify;
    text-indent: 50px;
    line-height: 35px;
}

#robots {
    display: block;
    margin: auto;
}

#irina {
    display: block;
    margin: auto;
}

#bugdroid {
    display: block;
    margin: auto;
}

#PartVid {
    background-color: #185a36;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#video {
    margin: auto;
    padding: 30px 0px 30px 0px;
}

@media (max-width: 800px) {

    #video {
        width: 200px;
        height: 300px;
    }
}

@media (min-width: 400px) {
    #video {
        width: 800px;
        height: 500px;
    }
}



